<li>
  <%= gravatar_for user, size: 50 %>
  <%= link_to user.name, user %>
  <%# 今のユーザーが管理者である　かつ　表示されているユーザーは今のユーザーではない %>
  <% if current_user.admin? && !current_user?(user) %>
    | <%= link_to "delete", user, data: { "turbo-method": :delete,
                                          turbo_confirm: "You sure?" } %>
  <% end %>
</li>

